/*New Products Slide*/
img, img.scale-with-grid {
    outline: 0;
    max-width: 100%;
    height: auto;
}
.team_columns_carousel_wrapper
.team_columns_carousel_control_left,
.team_columns_carousel_control_right {
    top: 26px;
    z-index: 2;
    opacity: 1;
    width: 35px;
    height: 35px;
    border: 0;
    text-shadow: none;
    text-align: center;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

.team_columns_carousel_control_icons {
    line-height: 35px;
    font-size: 20px !important;
    font-weight: normal !important;
    margin-top: 8px;
}

.team_columns_carousel_control_left {
    left: 26px !important
}

.team_columns_carousel_control_right {
    left: 63px !important
}

.adv_left {
    left: 41px !important
}

.adv_right {
    left: 78px !important
}

.team_columns_item_image {
    padding-top: 60px;
    padding-bottom: 25px
}

    .team_columns_item_image img {
        width: 100%;
        -webkit-filter: grayscale(70%);
        -moz-filter: grayscale(70%);
        -ms-filter: grayscale(70%);
        -o-filter: grayscale(70%);
        filter: grayscale(70%);
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        -ms-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s
    }

    .team_columns_item_image:hover img {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
        display: block;
        position: relative;
        -webkit-transition: all .4s linear;
        transition: all .4s linear;
        box-shadow: 0 0 5px #fff;
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

.team_columns_item_caption {
    padding: 10px;
    text-align: center;
    padding-bottom: 30px
}

    .team_columns_item_caption > hr {
        width: 15%;
        margin-left: 120px
    }

    .team_columns_item_caption h4 {
        font-weight: 800;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif
    }

    .team_columns_item_caption h5 {
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif
    }

    .team_columns_item_caption p {
        font-weight: 400;
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif
    }

        .team_columns_item_caption p a,
        .team_columns_item_caption p a:visited {
            text-decoration: none;
            -webkit-transition: all ease-in-out .3s;
            transition: all ease-in-out .3s
        }

.team_columns_item_social a,
.team_columns_item_social a:visited {
    width: 25px;
    float: left;
    height: 25px;
    display: block;
    line-height: 25px;
    margin-right: 2px;
    text-decoration: none;
    -webkit-transition: background ease-in-out .3s;
    transition: background ease-in-out .3s
}

@media(min-width:768px) and (max-width:789px) {
    .adv_team_columns_item_social a, .adv_team_columns_item_social a:visited {
        margin-right: 0;
        max-width: 100%;
        height: auto;
        outline: 0;
        
    }
}

.team_columns_carousel_wrapper {
    background: #fff
}

.team_columns_carousel_control_left,
.team_columns_carousel_control_left:hover,
.team_columns_carousel_control_left:active,
.team_columns_carousel_control_left:focus,
.team_columns_carousel_control_right,
.team_columns_carousel_control_right:hover,
.team_columns_carousel_control_right:active,
.team_columns_carousel_control_right:focus {
    color: #fff;
    background: #feb600 !important
}

.team_columns_item_caption {
    color: #fff;
    background: #171717
}

    .team_columns_item_caption > hr {
        border-top: 2px solid #feb600
    }

    .team_columns_item_caption p a,
    .team_columns_item_caption p a:visited {
        color: #feb600
    }

        .team_columns_item_caption p a:hover,
        .team_columns_item_caption p a:active {
            color: #cb9200
        }

.team_columns_item_social a,
.team_columns_item_social a:visited {
    color: #171717;
    background: #feb600
}

    .team_columns_item_social a:hover,
    .team_columns_item_social a:active {
        background: #cb9200
    }

.four_shows_one_move .cloneditem-1,
.four_shows_one_move .cloneditem-2,
.four_shows_one_move .cloneditem-3 {
    display: none;

}

@media all and (min-width: 768px) {
    .four_shows_one_move .carousel-inner > .active.left,
    .four_shows_one_move .carousel-inner > .prev {
        left: -50%
    }

    .four_shows_one_move .carousel-inner > .active.right,
    .four_shows_one_move .carousel-inner > .next {
        left: 50%
    }

    .four_shows_one_move .carousel-inner > .left,
    .four_shows_one_move .carousel-inner > .prev.right,
    .four_shows_one_move .carousel-inner > .active {
        left: 0
    }

    .four_shows_one_move .carousel-inner .cloneditem-1 {
        display: block
    }
}

@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .four_shows_one_move .carousel-inner > .item.active.right,
    .four_shows_one_move .carousel-inner > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0
    }

    .four_shows_one_move .carousel-inner > .item.active.left,
    .four_shows_one_move .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0
    }

        .four_shows_one_move .carousel-inner > .item.left,
        .four_shows_one_move .carousel-inner > .item.prev.right,
        .four_shows_one_move .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0
        }
}

@media all and (min-width: 992px) {
    .four_shows_one_move .carousel-inner > .active.left,
    .four_shows_one_move .carousel-inner > .prev {
        left: -25%
    }

    .four_shows_one_move .carousel-inner > .active.right,
    .four_shows_one_move .carousel-inner > .next {
        left: 25%
    }

    .four_shows_one_move .carousel-inner > .left,
    .four_shows_one_move .carousel-inner > .prev.right,
    .four_shows_one_move .carousel-inner > .active {
        left: 0
    }

    .four_shows_one_move .carousel-inner .cloneditem-2,
    .four_shows_one_move .carousel-inner .cloneditem-3 {
        display: block
    }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .four_shows_one_move .carousel-inner > .item.active.right,
    .four_shows_one_move .carousel-inner > .item.next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
        left: 0
    }

    .four_shows_one_move .carousel-inner > .item.active.left,
    .four_shows_one_move .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        left: 0
    }

        .four_shows_one_move .carousel-inner > .item.left,
        .four_shows_one_move .carousel-inner > .item.prev.right,
        .four_shows_one_move .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0
        }
}
/*---New Products Slide--- End*/

/*Search */

/*Search---End */

/*---Reponsive_view all device*/
@media (max-width:1440px) {
    img, img.scale-with-grid {
        outline: 0;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width:1366px) {
    img, img.scale-with-grid {
        outline: 0;
        max-width: 100%;
        height: auto;
    }

    .logo-nav {
        padding: 1em 0 2em;
    }

    .products-right-grid1:hover:before {
        height: auto !important;
    }
}

@media (max-width:1280px) {
    img, img.scale-with-grid {
        outline: 0;
        max-width: 100%;
        height: auto;
    }
    .banner-info {
        margin: 7em 0 0;
    }

    .banner {
        min-height: 630px;
    }
}

@media (max-width:1080px) {
    img, img.scale-with-grid {
        outline: 0;
        max-width: 100%;
        height: auto;
    }
    .logo-nav-left h1 a {
        font-size: 1.2em;
    }

        .logo-nav-left h1 a span {
            letter-spacing: 9px;
        }

    .navbar-collapse {
        padding: 0;
    }

    .navbar-nav > li > a {
        padding: 25px 15px 0;
    }

    .banner-info h3 {
        font-size: 4.5em;
    }

    .banner-info1 p {
        font-size: 1.5em;
    }

    .banner-info {
        margin: 5em 0 0;
    }

    .banner {
        min-height: 555px;
    }

    .banner-bottom, .new-collections, .checkout, .collections-bottom, .timer, .register, .products, .typo, .mail, .single, .login, .single-related-products {
        padding: 4em 0;
    }

    .grid figure {
        min-width: 310px;
    }

        .grid figure h3 i {
            font-size: .4em;
            letter-spacing: 4px;
        }

    figure.effect-julia h3 {
        padding: 0em 0 1em;
    }

    figure.effect-julia p {
        font-size: 57%;
    }

    .banner-bottom-grid-left1-pos1 {
        padding: .8em;
    }

    .banner-bottom-grid-right {
        width: 31.4%;
    }

    .grid-left-grid1-pos p {
        font-size: 1.5em;
    }

    .banner-bottom-grid-left1 {
        width: 32%;
    }

    .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
        font-size: 2.6em;
    }

    .new-collections-grid1-left p a {
        margin: 1em 0 0;
        padding: 0em 1em;
        width: 65%;
        text-align: center;
        display: block;
    }

    .new-collections-grid1 p {
        font-size: 12px;
    }

    .new-collections-grid1:hover:before {
        height: 61%;
    }

    .new-collections-grid1:before {
        height: 65%;
    }

    .new-collections-grid1-left {
        margin: 0.5em 0 .8em;
    }

    .new-collections-grid1-sub {
        float: left;
        width: 48.2%;
    }

    .new-collections-grid1-image-pos a {
        padding: 7px 20px;
    }

    .new-collections-grid1-image-pos {
        top: 40%;
        left: 22%;
    }

    .new-collections-grid1-right {
        bottom: 37%;
        left: 28%;
    }

    .new-collections-grid1-image-pos1 {
        left: 37% !important;
    }

    .new-collections-grid1-right-rate {
        left: 39.5% !important;
    }

    .timer-grid-left h3 a {
        font-size: 1.3em;
    }

    .timer-grid-left-price p a {
        padding: .5em 1em;
        margin: 0;
        width: auto;
        display: -webkit-inline-box;
    }

    .collections-bottom-grid h3 {
        font-size: 2.5em;
    }

    .collections-bottom-grids {
        min-height: 425px;
    }

    .newsletter form {
        width: 72%;
    }

    .footer-grid h3 {
        font-size: 1.7em;
    }

    .footer-grid-sub-grid-right h4 a {
        font-size: .9em;
    }

    .footer-logo {
        margin: 2em 0 3em;
    }

        .footer-logo h2:before, .footer-logo h2:after {
            width: 33%;
        }

    .filter-price h3 {
        padding: 0 !important;
    }

    .products-right-grids-position1 h4 {
        width: 63%;
    }

    .products-right-grids-position1 p {
        width: 100%;
    }

    .products-right-grids-position1 {
        top: 35%;
    }

    .products-right-grids-pos {
        left: 12% !important;
    }

    .products-right-grids-pos-right {
        left: 21% !important;
    }

    .products-right-grid1:hover:before {
        height: 56% !important;
    }

    .men-position-pos {
        top: 20%;
    }

    .single-right-left h3 {
        font-size: 1.8em;
    }

    .colr {
        margin-right: 0.4em;
    }

    .bootstrap-tab-text-grids {
        margin: 2em 0 0 0em;
    }

    .add-review input[type="text"], .add-review input[type="email"], .add-review textarea {
        width: 48.4%;
    }

    .checkout-left-basket {
        width: 40%;
    }

    .login-form-grids {
        width: 60%;
    }

    .dropdown-menu.columns-3 {
        left: -110%;
    }
}

@media (max-width:1024px) {
    img, img.scale-with-grid {
        outline: 0;
        max-width: 100%;
        height: auto;
    }
    .banner-bottom-grid-left1-pos1 p, .banner-bottom-grid-left1-pos p {
        font-size: 1.8em;
    }

    .header-right {
        width: 16%;
    }

    .dropdown-menu.columns-3 {
        left: -150%;
    }
}

@media (max-width:991px) {
    img, img.scale-with-grid {
        outline: 0;
        max-width: 100%;
        height: auto;
    }
    .logo-nav-left1 ul li a {
        font-size: 12px;
    }

    .logo-nav-left h1 a {
        font-size: 1.1em;
    }

    .navbar-nav > li > a {
        padding: 20px 10px 0;
    }

    .logo-nav-left1 {
        margin-left: 0em;
    }

    .header-right {
        width: 13%;
    }


    .banner-info h3 {
        font-size: 4em;
    }

    .banner-info h4 {
        font-size: 2.5em;
    }

    .banner {
        min-height: 500px;
    }

    .banner-info1 p {
        width: 75%;
    }

    .grid figure {
        min-width: 238px;
    }

    figure.effect-julia h3 {
        font-size: 1.6em;
    }

    .grid figure h3 i {
        letter-spacing: 2px;
    }

    .grid figure figcaption {
        padding: 1em;
    }

    .grid figure p {
        letter-spacing: 0px;
    }

    .banner-bottom-grid-left1-pos1 p, .banner-bottom-grid-left1-pos p {
        font-size: 1.5em;
    }

    .banner-bottom-grid-left1-position {
        padding: .5em;
    }

    .banner-bottom-grid-left1 {
        width: 31.7%;
        margin: 0 0.5em;
    }

    .banner-bottom-grid-right {
        width: 30.8%;
    }

    .banner-bottom-grid-right {
        width: 31.8%;
    }

    .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
        font-size: 2em;
    }

    .banner-bottom, .new-collections, .checkout, .collections-bottom, .timer, .register, .products, .typo, .mail, .single, .login, .single-related-products {
        padding: 3em 0;
    }

    .new-collections-grid, .products-right-grids-bottom-grid {
        width: 47%;
        margin: 0 auto;
    }

    .new-collections-grids {
        margin: 2em 0 0;
    }

    .new-collections-grid1:hover:before {
        height: 69% !important;
    }

    .new-collections-grid1:before {
        height: 70% !important;
    }

    .new-collections-grid1-image-pos {
        left: 31% !important;
    }

    .new-collections-grid1-right {
        bottom: 43% !important;
        left: 34% !important;
    }

    .new-collections-grid1-image-width:before {
        height: 60% !important;
    }

    .new-collections-grid1-image-width:hover:before {
        height: 60% !important;
    }

    .new-collections-grid1-image-width:hover:before {
        height: 52% !important;
    }

    .new-collections-grid1-image-pos1 {
        left: 33% !important;
    }

    .new-collections-grid1-right-rate {
        left: 37.5% !important;
        bottom: 30% !important;
    }

    .new-collections-grid:nth-child(2) {
        margin: 1em auto;
    }

    .dropdown-menu.columns-3 {
        min-width: 585px;
    }

    ul.multi-column-dropdown h6 {
        font-size: 1.2em;
    }

    .new-collections-grid1-sub {
        float: none;
        width: 100%;
    }

        .new-collections-grid1-sub:nth-child(2) {
            margin: 1em 0 0;
        }

    .timer-grid-right {
        width: 60%;
        margin: 2em auto 0;
    }

    .collections-bottom-grid {
        width: 68%;
        margin-left: 2em;
    }

    .collections-bottom-grids {
        min-height: 280px;
        padding: 3.5em 2em 2em;
    }

    .newsletter form {
        width: 100%;
    }

    .footer-grid {
        float: left;
        width: 50%;
    }

        .footer-grid:nth-child(2) {
            margin-bottom: 2em;
        }

    .footer-logo h2 a {
        font-size: 1.8em;
    }

    .footer-logo h2:before, .footer-logo h2:after {
        width: 30%;
    }

    .products-left {
        width: 70%;
        margin: 0 auto 2em;
    }

    .products-right-grids-position1 p {
        width: 90%;
    }

    p.est {
        width: 85%;
    }

    .mail-grid-right {
        width: 50%;
        margin: 2em auto 0;
    }

    .value-minus, .value-plus {
        height: 25px;
        width: 25px;
        font-size: 10px;
        margin-right: 0;
    }

    .value {
        width: 25px;
        height: 25px;
        padding: 4px 0px;
        line-height: 15px;
        margin-right: 0;
    }

    .quantity-select .entry.value-plus:after {
        height: 6px;
        top: 60%;
        margin-top: -4px;
    }

    .quantity-select .entry.value-minus:before, .quantity-select .entry.value-plus:before {
        width: 6px;
        margin-left: -3px;
    }

    .login-form-grids {
        width: 75%;
    }
}

@media (max-width:800px) {
    img, img.scale-with-grid {
        outline: 0;
        max-width: 100%;
        height: auto;
    }
    .dropdown-menu.columns-3 {
        min-width: 490px;
        padding: 1.5em;
    }


    .header-grid {
        padding: 1em 0;
    }

    .banner-info h3 {
        font-size: 3.5em;
    }

    .banner-info {
        margin: 4em 0 0;
    }

    .banner {
        min-height: 470px;
    }

    .dropdown-menu {
        left: -90%;
    }

    .single-right-left {
        float: left;
        width: 45%;
    }

        .single-right-left:nth-child(2) {
            width: 55%;
        }

    .add-review input[type="text"], .add-review input[type="email"], .add-review textarea {
        width: 48.68%;
    }
}


@media (max-width:768px) {
    img, img.scale-with-grid {
        outline: 0;
        max-width: 100%;
        height: auto;
    }
    .navbar-nav > li > a {
        padding: 20px 9px 0;
    }

    .men-position-pos {
        top: 41%;
    }

        .men-position-pos h4:after {
            width: 80%;
            right: -5%;
        }

    .dropdown-menu {
        left: -100%;
    }
}

@media (max-width:767px) {
    .dropdown-menu {
        left: 0%;
    }    
    .navbar-nav {
        margin: 1em 0 0;      
        text-align: center;
        padding-bottom: 1em;
    }

    .dropdown-menu.columns-3 {
        min-width: 360px;
        text-align: center;
        padding: 0 1.5em;
    }

    ul.multi-column-dropdown h6 {
        border-bottom: 1px solid #C3C3C3;
    }

    ul.multi-column-dropdown {
        margin: 2em 0;
    }

    .logo-nav-left1 {
        width: 50%;
    }

    .navbar-toggle {
        margin: 1em 0 0;
    }

    .navbar-default .navbar-toggle {
        border-color: #212121;
    }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: transparent;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #212121;
        }

    .logo-nav {
        padding: 1em 0;
    }

    #img_prod {
        width: auto;
        height: auto;
        background-image: none;
    }


    .header-right {
        width: 15%;
    }

    .navbar {
        margin-bottom: 0;
    }
}

@media (max-width: 736px) {
    .logo-nav-left1 {
        width: 44%;
    }

    .header-right {
        width: 20%;
    }
}

@media (max-width:667px) {
    .logo-nav-left1 {
        width: 42%;
    }
}

@media (max-width: 640px) {
    .header-right {
        width: 21%;
    }

    .logo-nav-left1 {
        width: 38%;
    }

    .banner-info h3 {
        font-size: 3em;
    }

    .banner-info h4 {
        font-size: 2em;
    }

    .banner-info1 p {
        font-size: 1.2em;
    }

    .banner {
        min-height: 410px;
    }

    .banner-bottom-grid-left {
        float: none;
        width: 100%;
    }

    .grid figure {
        min-width: 330px;
        margin: 0 auto;
    }

        .grid figure figcaption {
            padding: 2em;
        }

    .banner-bottom-grid-left1 {
        margin: 1em auto;
        float: none;
    }

    .banner-bottom-grid-left1-pos1 p, .banner-bottom-grid-left1-pos p {
        font-size: 1.6em;
    }

    .banner-bottom-grid-left1-pos1 {
        padding: 2em;
    }

    .banner-bottom-grid-right {
        float: none;
        margin: 0 auto;
    }

    .banner-bottom-grid-right, .banner-bottom-grid-left1 {
        width: 55%;
    }

    .new-collections h3:before, .single-related-products h3:before {
        left: 13%;
    }

    .new-collections h3:after, .single-related-products h3:after {
        right: 13%;
    }

    .new-collections-grid, .products-right-grids-bottom-grid {
        width: 50%;
    }

    .new-collections-grid1-image-width:before {
        height: 55% !important;
    }

    .new-collections-grid1-image-width:hover:before {
        height: 48% !important;
    }

    .collections-bottom-grid {
        width: 84%;
    }

        .collections-bottom-grid h3 {
            font-size: 2em;
        }

    .navbar-nav > li > a {
        padding: 14px 0 0;
    }

    .newsletter input[type="email"] {
        width: 72%;
    }

    .footer-logo h2 a {
        font-size: 1.5em;
    }

    .new-collections-grid1 p {
        font-size: 14px;
    }

    .dropdown-menu.columns-3 {
        min-width: auto;
    }

    .breadcrumbs {
        padding: 1em 0;
    }

    .breadcrumb1 {
        padding: 0;
    }

    .new-collections-grid1:before {
        height: 66% !important;
    }

    .men-position-pos h4 {
        font-size: 1.7em;
    }

    .men-position-pos {
        top: 37%;
        left: 8%;
    }

    .products-right-grids-position1 p {
        width: 100%;
    }

    .products-right-grids-position1 {
        left: 5%;
    }

    h3.title:before, .login h3:before {
        left: 17%;
    }

    h3.title::after, .login h3:after {
        right: 17%;
    }

    .mail h3:before {
        left: 22%;
    }

    .mail h3:after {
        right: 22%;
    }

    .mail-grid-right {
        width: 60%;
    }

    .mail iframe {
        min-height: 200px;
    }

    .quantity-select .entry.value-minus:before, .quantity-select .entry.value-plus:before {
        margin-left: -4px;
    }

    .quantity-select .entry.value-plus:after {
        margin-top: -4px;
    }

    .checkout-left-basket {
        width: 55%;
    }

    .register h3:before {
        left: 15%;
    }

    .register h3:after {
        right: 15%;
    }

    .single-right-left {
        float: none;
        width: 60%;
    }

        .single-right-left:nth-child(2) {
            width: 100%;
            margin: 2em 0 0;
        }

        .single-right-left h3 {
            font-size: 1.6em;
        }

        .single-right-left h4 {
            font-size: 1.3em;
        }

    .colr {
        margin-right: 2em;
    }

    .add-review input[type="text"], .add-review input[type="email"], .add-review textarea {
        width: 48.3%;
    }

    .imagezoom-view {
        display: none;
    }
}

@media (max-width:600px) {
    .header-grid-left ul li {
        margin: 0 0.6em;
    }
}

@media (max-width:568px) {
    .header-right {
        width: 23%;
    }

    .header-grid-left ul li {
        margin: 0 0.3em;
    }
}

@media (max-width:480px) {
    .header-grid-left, .header-grid-right {
        float: none;
        text-align: center;
    }

    .header-grid-right {
        margin: 1em 0 0;
    }

    .header-grid-left ul li {
        margin: 0 0.7em;
    }

    .logo-nav-left {
        float: none;
        text-align: center;
    }

    .navbar-toggle {
        float: left;
    }

    .header-right {
        width: 30%;
    }

    .logo-nav-left1 {
        width: 65%;
    }

    .banner-info h3 {
        font-size: 2em;
    }

    .banner-info h4 {
        font-size: 1.8em;
        margin: 0em 0 0 3.5em;
    }

    .banner-info1 p {
        width: 100%;
    }

    .banner-info {
        margin: 3em 0 0;
    }

    .banner {
        min-height: 325px;
    }

    .banner-wrap {
        padding: 0px 0 3em;
    }

    .banner-bottom-grid-right, .banner-bottom-grid-left1 {
        width: 76%;
    }

    .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
        font-size: 1.8em;
    }

        .new-collections h3:before, .new-collections h3:after, h3.title:before, h3.title:after, .mail h3:before, .mail h3:after, .single-related-products h3:before, .single-related-products h3:after, .login h3:before, .login h3:after, .register h3:before, .register h3:after {
            width: 20%;
        }

        .new-collections h3:before, .single-related-products h3:before {
            left: 2%;
        }

        .new-collections h3:after, .single-related-products h3:after {
            right: 2%;
        }

    .banner-bottom, .new-collections, .checkout, .collections-bottom, .timer, .register, .products, .typo, .mail, .single, .login, .single-related-products {
        padding: 2em 0;
    }

    .new-collections-grid, .products-right-grids-bottom-grid {
        width: 72%;
    }

    p.est {
        width: 100%;
    }

    .new-collections-grid1-image-width:before {
        height: 56% !important;
    }

    .new-collections-grid1-image-width:hover:before {
        height: 50% !important;
    }

    .timer-grid-left h3 a {
        font-size: 1em;
    }

    .timer-grid-right {
        width: 85%;
    }

    .collections-bottom-grid h3 {
        font-size: 1.6em;
    }

    .collections-bottom-grids {
        min-height: 217px;
        padding: 2.5em 2em 2em;
    }

    .newsletter h3 {
        font-size: 1.6em;
    }

    .newsletter {
        padding: 1.5em;
    }

        .newsletter input[type="submit"] {
            padding: 8px 0;
            font-size: 14px;
            width: 21%;
            margin-left: 1em;
        }

        .newsletter input[type="email"] {
            width: 68%;
        }

    .footer-grid h3 {
        font-size: 1.5em;
    }

    .footer {
        padding: 2em 0;
    }

    .footer-grid {
        float: none;
        width: 100%;
    }

        .footer-grid:nth-child(2) {
            margin: 2em 0;
        }

        .footer-grid:nth-child(3) {
            margin: 0em 0 2em;
        }

    .footer-grid-sub-grid-right h4 a {
        font-size: 1.1em;
    }

    .footer-grid-sub-grid-right {
        margin: 3em 0 0;
    }

    .footer-logo h2 a {
        font-size: 1.3em;
    }

    .footer-logo h2:before, .footer-logo h2:after {
        width: 26%;
    }

    .footer-logo {
        margin: 2em 0 2em;
    }

    .categories h3, .filter-price h3, .new-products h3 {
        font-size: 1.2em;
        letter-spacing: 2px;
    }

    .products-left {
        width: 100%;
    }

    .categories {
        margin: 2em 0;
    }

    .men-position {
        margin: 2em 0 0;
    }

    .sorting-left {
        width: 40%;
    }

    .sorting {
        width: 50%;
    }

    .products-right-grids-position1 h4 {
        width: 75%;
        font-size: 1.2em;
    }

    .products-right-grids-position1 {
        top: 22%;
    }

    ul.paging {
        margin: 3em auto 0;
    }

    h3.title:before, .login h3:before {
        left: 8%;
    }

    h3.title::after, .login h3:after {
        right: 8%;
    }

    .mail h3:before {
        left: 14%;
    }

    .mail h3:after {
        right: 14%;
    }

    .mail-grid-left input[type="submit"] {
        font-size: 14px;
        width: 100%;
    }

    .mail-grid-right {
        width: 80%;
    }

    .timetable_sub th, .timetable_sub td {
        display: block;
    }

    .timetable_sub th {
        border-right: none;
        border-bottom: 1px solid #A95832;
    }

    td.invert-image a img {
        width: 50%;
    }

    .timetable_sub td {
        border: none;
    }

    tr.rem1, tr.rem2, tr.rem3 {
        border: 1px solid #D7D7D7;
        padding-bottom: 2em;
        display: block;
        border-top: none;
    }

    .close1, .close2, .close3 {
        right: 190px;
        top: -4px;
    }

    .quantity-select .entry.value-plus:after {
        margin-top: -5px;
    }

    .quantity-select .entry.value-minus:before, .quantity-select .entry.value-plus:before {
        margin-left: -3px;
    }

    .checkout-left-basket {
        width: 100%;
        float: none;
    }

    .checkout-right-basket {
        float: none;
        margin: 2em 0 0 0em;
        text-align: center;
    }

    .single-right-left {
        width: 90%;
    }

    .colr {
        margin-right: 1em;
    }

    .bootstrap-tab {
        margin: 3em 0 0;
    }

    .bootstrap-tab-text p span {
        margin: 1em 0 0;
    }

    .bootstrap-tab-text h5, .add-review h4 {
        margin: 2em 0 1em;
    }

    .add-review input[type="text"], .add-review input[type="email"], .add-review textarea {
        width: 100%;
    }

    .add-review input[type="email"] {
        margin: 1em 0 0;
    }

    .add-review input[type="submit"] {
        width: 100%;
        font-size: 14px;
    }

    .login-form-grids {
        width: 95%;
        margin: 2em auto 0;
        padding: 2em;
    }

    .login h4 {
        margin: 1.5em 0 0.5em;
        font-size: 1.1em;
    }

    .bootstrap-tab-text-grid:nth-child(2) {
        margin: 2em 0 0;
    }

    .register h3:before {
        left: 5%;
    }

    .register h3:after {
        right: 5%;
    }
}

@media (max-width: 414px) {
    .header-right {
        width: 33%;
    }

    .footer-grid-sub-grid-right h4 a {
        font-size: 0.9em;
    }

    .banner-info h4 {
        font-size: 1.5em;
    }

    .wmuSliderPagination a {
        width: 35px;
    }

    .wmuSliderPagination {
        left: 60%;
    }

    .banner-info {
        margin: 2em 0 0;
    }

    .banner-info1 p {
        font-size: 1em;
    }

    .banner-wrap {
        padding: 0px 0 2em;
    }

    .banner {
        min-height: 265px;
    }

    .banner-bottom-grid-right, .banner-bottom-grid-left1 {
        width: 90%;
    }

    .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
        font-size: 1.6em;
    }

    .new-collections-grid, .products-right-grids-bottom-grid {
        width: 80%;
    }

    .new-collections-grid1-image-width:before {
        height: 50% !important;
    }

    .new-collections-grid1-image-pos1 {
        left: 27% !important;
    }

    .new-collections-grid1-right-rate {
        left: 31.5% !important;
        bottom: 25% !important;
    }

    .collections-bottom-grids {
        background: url(../images/12.jpg) no-repeat -120px 0px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
    }

    .newsletter input[type="email"] {
        width: 92%;
        margin: 0 0 .5em;
    }

    .newsletter input[type="submit"] {
        width: 40%;
        margin-left: 0;
    }

    .collections-bottom-grid {
        margin-left: 0;
    }

    .footer-grid-sub-grid-right {
        margin: 1em 0 0;
    }

    .breadcrumb1 {
        margin: 0 !important;
    }

    .bootstrap-tab ul li a {
        padding: 9px;
    }

    .bootstrap-tab-text-grid-right p {
        margin: 1em 0 0;
    }

    .sorting-left {
        width: 45%;
        margin-right: 1em;
    }

    .products-right-grids-position1 h4 {
        width: 90%;
    }

    .products-right-grids-position1 p {
        font-size: 12px;
    }

    .products-right {
        padding: 0;
    }

    .mail-grid-right {
        width: 100%;
    }

    .mail-grids {
        margin: 2em 0;
    }
}

@media (max-width:384px) {
    .header-right {
        width: 32%;
    }

    .logo-nav {
        padding: 0.5em 0 1em;
    }

    .header-grid-left ul li {
        margin: 0 0.7em .5em;
    }

    .header-grid-right {
        margin: 0.5em 0 0;
    }
}

@media (max-width: 375px) {
    .header-right {
        width: 37%;
    }

    .logo-nav-left1 {
        width: 63%;
    }

    .banner-bottom-grid-right, .banner-bottom-grid-left1 {
        width: 100%;
    }

    .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
        font-size: 1.5em;
    }

    .new-collections-grid, .products-right-grids-bottom-grid {
        width: 90%;
    }

    .new-collections-grid1-image-pos {
        left: 26% !important;
    }

    .new-collections-grid1-right {
        left: 31% !important;
    }

    .timer-grid-left, .products-left, .single-right, .single-right-left:nth-child(2), .mail-grid-left, .mail iframe {
        padding: 0;
    }

        .timer-grid-left h3 a {
            font-size: .9em;
        }

    .timer-grid-right {
        width: 100%;
        margin: 1em auto 0;
    }

    .collections-bottom-grid {
        padding: 1em;
    }

    .men-position-pos h4 {
        font-size: 1.8em;
    }

        .men-position-pos h4:after {
            right: 10%;
        }

    .single-right-left h3 {
        font-size: 1.5em;
    }

    .bootstrap-tab-text-grid-right ul li a {
        font-size: 14px;
    }

    .bootstrap-tab-text h5, .add-review h4 {
        font-size: 1.1em;
    }

    .men-position-pos {
        top: 25%;
    }

    .checkout h3 {
        font-size: 14px;
        margin: 0 0 2em;
        line-height: 1.5em;
    }

    .close1, .close2, .close3 {
        right: 143px;
    }

    .login-form-grids {
        width: 100%;
        padding: 1em;
    }
}

@media (max-width: 320px) {
    .header-grid-left ul li {
        margin: 0 0.7em 0em;
        font-size: 13px;
    }

    .logo-nav-left h1 a {
        font-size: 1em;
    }

    .header-right {
        width: 45%;
    }

    .logo-nav-left1 {
        width: 55%;
    }

    .banner-info h3 {
        font-size: 1.7em;
    }

    .banner-info1 p {
        font-size: 13px;
    }

    .wmuSliderPagination {
        left: 50%;
    }

    .banner {
        min-height: 240px;
    }

    ul.multi-column-dropdown h6 {
        font-size: 1.1em;
    }

    .dropdown-menu.columns-3 {
        padding: 0 0.5em;
    }

    .grid figure {
        min-width: 270px;
    }

        .grid figure figcaption {
            padding: 1.5em;
        }

    .banner-bottom-grid-left1-pos1 {
        padding: 1.3em;
    }

    .new-collections h3, h3.title, .mail h3, .single-related-products h3, .login h3, .register h3 {
        font-size: 1.3em;
    }

        .new-collections h3:before, .single-related-products h3:before {
            left: 0%;
        }

        .new-collections h3:after, .single-related-products h3:after {
            right: 0%;
        }

    p.est, .new-collections-grid1 p, .bootstrap-tab-text p, .description p, .color-quality-left ul li a, label.radio, .copy-right p, .categories ul li, .footer-grid-sub-grid-right p, .new-collections-grid1-left p a, .footer-grid ul li, .footer-grid p, .occasion-cart a, .timer-grid-left-price h4 {
        font-size: 13px;
    }

    .bootstrap-tab-text h5, .add-review h4 {
        font-size: 1em;
        margin: 1.5em 0 0.7em;
    }

    .bootstrap-tab ul li a {
        font-size: 14px;
    }

    .color-quality-left, .color-quality-right {
        float: none;
    }

    .description {
        margin: 2em 0 1em;
    }

    .color-quality-right {
        margin: 1em 0 0;
    }

    .men-position-pos h4 {
        font-size: 1.5em;
    }

    .men-position-pos h5 {
        font-size: 1.6em;
    }

    .categories ul.cate, .new-products-grids {
        padding: 1em 1em 2em;
    }

    .categories h3, .filter-price h3, .new-products h3 {
        font-size: 1.1em;
        letter-spacing: 1px;
    }

    .footer-logo h2 a {
        font-size: 1.1em;
    }

    .footer-logo h2:before, .footer-logo h2:after {
        width: 21%;
    }

    .footer-grid-sub-grid-right {
        margin: 0;
    }

    .footer-grid p span {
        display: initial;
        margin: 0;
    }

    .new-collections-grid, .products-right-grids-bottom-grid {
        width: 100%;
    }

    .new-collections-grid {
        padding: 0;
    }

    .new-collections-grid1:hover:before {
        height: 66% !important;
    }

    .new-collections-grid1-image-width:hover:before {
        height: 48% !important;
    }

    .new-collections-grid1-image-width:before {
        height: 45% !important;
    }

    .timer-grid-right {
        margin: 2em auto 0;
    }

    .timer-grid-right-pos h4 {
        font-size: 14px;
    }

    .collections-bottom-grid h3 {
        font-size: 1.3em;
    }

    .collections-bottom-grids {
        background: url(../images/12.jpg) no-repeat -80px 0px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height: 170px;
        padding: 1.5em 1em 0em;
    }

    .new-collections-grid1 h4 a {
        font-size: 14px;
    }

    .newsletter h3 {
        font-size: 1.3em;
    }

    .newsletter {
        padding: 1em;
    }

        .newsletter p, .new-products-grid-right h4 a, select#country, select#country1 {
            font-size: 13px;
        }

    .sorting {
        width: 49%;
    }

    .products-right-grids-position1 h4 {
        width: 93%;
        font-size: 1em;
    }

    .products-right-grids-position1 {
        top: 5%;
    }

    .products-right-grid1-add-cart p, .new-products-grid-right-add-cart p {
        font-size: 1em !important;
    }

    .newsletter input[type="email"] {
        width: 91%;
        font-size: 13px;
    }

    .newsletter p {
        margin: .5em 0 0.5em;
    }

    .newsletter input[type="submit"] {
        width: 55%;
        padding: 5px 0;
        font-size: 13px;
    }

    .footer-grid h3 {
        font-size: 1.3em;
    }

    .footer-grid, .mail-grid-right {
        padding: 0;
    }

    .single-right-left {
        width: 100%;
    }

        .single-right-left h4 {
            font-size: 1.1em;
        }

    .add-review input[type="text"], .checkout-left-basket ul li, .add-review input[type="email"], .mail-grid-left input[type="text"], .mail-grid-left input[type="email"], .mail-grid-left textarea, .add-review textarea, .mail-grid-right1 ul.phone-mail li {
        font-size: 13px;
    }

    .checkout-left-basket h4 {
        padding: .7em;
        font-size: 1em;
    }

    .mail-grid-left textarea {
        min-height: 135px;
    }

    ul.multi-column-dropdown {
        margin: 1em 0;
    }

    .new-products-grid-right {
        width: 61%;
    }

    ul.paging {
        margin: 2em auto 0;
    }

    .mail-grids {
        margin: 1.5em 0;
    }

    .mail iframe {
        min-height: 140px;
    }

    ul.phone-mail {
        margin: 0 0 1em;
    }

    .mail-grid-right1 ul.phone-mail li {
        margin-bottom: .5em;
    }

    .close1, .close2, .close3 {
        right: 114px;
    }

    .checkout-right-basket a {
        font-size: 14px;
    }

    .login-form-grids h5, .login-form-grids h6 {
        margin: 0 0 1.5em;
    }

    .login-form-grids {
        margin: 1.5em auto 0;
    }

        .login-form-grids input[type="email"], .forgot a, .register-check-box label, .login-form-grids input[type="password"], .login-form-grids input[type="text"] {
            font-size: 13px;
        }

    .forgot {
        margin: 1em 0 0;
    }

    .login-form-grids h6 {
        margin: 2em 0 1.5em !important;
    }

    .login-form-grids input[type="submit"], .register-home a {
        font-size: 14px;
    }

    .login h4 {
        font-size: 1em;
    }

    .login p {
        font-size: 12px;
    }

    .logo-nav-left {
        float: left;
        text-align: left;
    }

    #ex1Slider .slider-selection {
        background: #BABABA;
    }
}
/*End---Reponsive view all device*/